<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.squeezecontrol"
      android:versionCode="11"
      android:versionName="0.7.3"
      >
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
     
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    <application 
    	android:icon="@drawable/squeeze_control" 
    	android:label="@string/app_name" android:debuggable="true" 
    	android:theme="@android:style/Theme.Black"
    	android:name=".SqueezeControlApp"
    	>
        <activity android:name=".PlayerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BrowsePlayersActivity"
                  android:label="Select SqueezeCenter Player ">
        </activity>
        <activity android:name=".LibraryInfoActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".BrowseModeActivity"
                  android:label="@string/browser_mode_activity"
                  android:launchMode="singleTask"
                  >
        </activity>
        <activity android:name=".PlaylistBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".FavoriteBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".CurrentPlaylistBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ArtistBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".AlbumBrowserActivity"
                  android:label="@string/app_name"
                  >
        </activity>
        <activity android:name=".SongBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".GenreBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".MusicFolderBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".AppsAndRadioRootsBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".XmlBrowserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name">
        </activity>
	    <service android:name="SqueezeService" android:permission="android.permission.INTERNET">
	
	    </service>
</application>

</manifest> 